<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/index.css" rel="stylesheet">
    <title>GoodTrail | Home</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

    <%- include('./partials/imageCarousel', {experience: experiences[0]})%> 

    <main class="index-main">
        <section class="home-buttons">
            <button>Buenos Aires</button>
            <button>Por el mundo</button>
        </section>

        <section class="product-home-container">


            <% experiences.forEach(experience => { %>
                <a href="/product/productDescription/<%= experience.id %> " class="product">
                    <img src="/img/cardImages/<%= experience.image %>" alt=<%= experience.nombre %>>
                    <h4> <%= experience.name %> </h4>
                    <p> <%= experience.description.slice(0,experience.description.indexOf('.')); %> </p>
        
                    <div class="price-stars">
                        <p class="price"> <%= experience.price %> </p>
                        <p class="star"><i class="fa-solid fa-star"><%= experience.rating %></i></p>
                    </div>
                </a> 
            <% }) %>

        </section>

        <section class="load-more-button">
            <button>Ver más</button>
        </section>
        
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer')%>

</body>
</html>