<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/index.css" rel="stylesheet">
    <title>GoodTrail | Home</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

    <%- include('./partials/imageCarousel', {experience: experiences[0]})%> 

    <main class="index-main">
        <section class="home-buttons">
            <button>Buenos Aires</button>
            <button>Por el mundo</button>
        </section>

        <section class="product-home-container">

            <% for( let index = 0; index < 3; index++ ) { %>
                <a href="/product/productDescription/<%= experiences[index].id %> " class="product">
                        <img src="/img/cardImages/<%= experiences[index].imagen %>" alt=<%= experiences[index].nombre %>>
                        <h4> <%= experiences[index].nombre %> </h4>
                        <p> <%= experiences[index].detailDescription %> </p>
        
                        <div class="price-stars">
                            <p class="price"> <%= experiences[index].precio %> </p>
                            <p class="star"><i class="fa-solid fa-star"></i>5</p>
                        </div>
                    </a>
            <% } %>
            
        </section>

        <section class="load-more-button">
            <button>Ver más</button>
        </section>
        
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer')%>

</body>
</html>