<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/index.css" rel="stylesheet">
    <title>GoodTrail | Home</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

    <%- include('./partials/imageCarousel', {experience: experiences[0]})%> 

    <main class="index-main">
        <section class="home-buttons">
            <button>Buenos Aires</button>
            <button>Por el mundo</button>
        </section>

        <section class="product-home-container">

            <% for( let index = 0; index < 3; index++ ) { %>
                <a href="/product/productDescription/<%= experiences[index].id %> " class="product">
                        <img src="/img/cardImages/<%= experiences[index].imagen %>" alt=<%= experiences[index].nombre %>>
                        <h4> <%= experiences[index].nombre %> </h4>
                        <p> <%= experiences[index].detailDescription %> </p>
        
                        <div class="price-stars">
                            <p class="price"> <%= experiences[index].precio %> </p>
                            <p class="star"><i class="fa-solid fa-star"></i>5</p>
                        </div>
                    </a>
            <% } %>

            <!-- <a href="/productDescription" class="product">
                <img src="/img/cardImages/bernabeuCatalog.jpg" alt="Santiago Bernabeu">
                <h4>Satiago Bernabeu</h4>
                <p>Una visita guiada por uno de los estadios mas importantes en el mundo del fútbol.</p>

                <div class="price-stars">
                    <p class="price">$310.000</p>
                    <p class="star"><i class="fa-solid fa-star"></i>5</p>
                </div>
            </a>

            <a href="/roma" class="product">
                <img src="/img/cardImages/romaCatalog.jpg" alt="Roma">
                <h4>Roma</h4>
                <p>Explora las fascinantes calles y recovecos de la historia en la hermosa ciudad de los Gnocchi.</p>
                <div class="price-stars">
                    <p class="price">$350.000</p>
                    <p class="star"><i class="fa-solid fa-star"></i>5</p>
                </div>
            </a>

            <a href="/giza" class="product">
                <img src="/img/cardImages/gizaCatalog.png" alt="Giza">
                <h4>Piramides de Giza</h4>
                <p>Entre la arena y los rayos de sol del desierto podras visitar las grandes piramides, un recuerdo de una de las mas grandes civilizaciones de la antiguedad.</p>
                <div class="price-stars">
                    <p class="price">$275.000</p>
                    <p class="star"><i class="fa-solid fa-star"></i>5</p>
                </div>
            </a> -->

        </section>

        <section class="load-more-button">
            <button>Ver más</button>
        </section>
        
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer')%>

</body>
</html>