<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/productDescription.css" rel="stylesheet">
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

    <%- include('partials/imageCarousel') %> 

    <main>
        <section class="mobile-title">
            <h1 class="main-title"> <%= experienceDetail.nombre %> </h1>
        </section>

        <section class="container experience-options">
            <div class="experience-title">
                <h1 class="main-title"> <%= experienceDetail.nombre %> </h1>
                <div class="experience-rating">

                    <% for( let index = 0; index < experienceDetail.rating; index++ ) { %>
                        <i class="fa-solid fa-star"></i>
                    <% } %>

                </div>
            </div>
            <button class="buy-button">
                Comprar
            </button>
            <div class="experience-button">
                <i class="fa-solid fa-cart-plus"></i>
                <i class="fa-solid fa-heart"></i>
            </div>
            
        </section>
        <section class="container">
            <div class="column">
                <h2 class="info-header">Precio</h2>
                <h3 class="info-context"> <%= experienceDetail.precio %> </h3>
            </div>
            <div class="column">
                <h2 class="info-header">Personas</h2>
                <h3 class="info-context"> <%= experienceDetail.peopleQuantity %>  </h3>
            </div>
            <div class="column">
                <h2 class="info-header">Ubicación</h2>
                <h3 class="info-context"> <%= experienceDetail.ubication %>  </h3>
            </div>
            <div class="column">
                <h2 class="info-header">Días</h2>
                <h3 class="info-context"> <%= experienceDetail.days %> </h3>
            </div>
        </section>
        <section class="container">
            <h2 class="section-title">Descripción</h2>
            <div class="description-text">
                <p>Estadia en Madrid para 2 personas. 2 días de estadias. Viaje incluido. </p>
                <p>Vivi la experiencia de ver un partido de UEFA Champions League del Real Madrid en el grandioso Santiago Bernabeu</p>    
            </div>
        </section>
        <section class="mobile-buttons">
            <button class="buy-button">
                Comprar
            </button>
            <div class="experience-button">
                <i class="fa-solid fa-cart-plus"></i>
            </div>
            <div class="experience-button">
                <i class="fa-solid fa-heart"></i>
            </div>
        </section>
        <section class="container map-container">
            <h2 class="section-title">Mapa</h2>
            <iframe class="map" src= <%= experienceDetail.googleMaps %>  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer')%>
    
</body>
</html>