<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/creacion.css" rel="stylesheet">
    <title>GoodTrail | Crear</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>
    <section class="form-section">
        <main>
            <h1 class="header-title">Tus experiencias</h1>
            <nav class="edition-nav">
                <ul>
                    <li><a href="" class="option-selected">Crear</a></li>
                    <li><a href="../product/editor" class="option-unselected">Editar</a></li>
                </ul>
            </nav>    
            <form class="forms" action="/product/creation" method="POST" enctype="multipart/form-data">
                <div class="input-container">
                    <label for="userName">Nombre</label>
                    <input class="formElement normal-border" type="text" name="name" id="nombre" value="<%= locals.old && old.name ? old.name : '' %>">
                    <% if (locals.errors && errors.name) { %>
                        <p class="text-danger">
                            <%= errors.name.msg %> 
                        </p>
                    <% } %>
                    <p id="errornombre" class="text-danger"></p>
                </div>
                <div class="input-container">
                    <label for="">Descripción</label>
                    <textarea class="formElement normal-border" type="text" name="description" id="descripción" maxlength="400" style="height: 150px"><%= locals.old && old.description ? old.description : '' %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <p class="text-danger">
                            <%= errors.description.msg %>
                        </p>
                    <% } %>
                    <p id="errordescripción" class="text-danger"></p>
                </div>

                <div class="input-container">
                    <label for="">Imagenes</label>
                    <input class= "image" type="file" id="image" name="image" multiple="multiple" accept="image/jpg, image/jpeg, image/png"> 
                    <label id="imageButton" for="image">
                        <i class="fa-solid fa-plus"></i>
                    </label>
                    <% if (locals.errors && errors.image) { %>
                        <p class="text-danger">
                            <%= errors.image.msg %>
                        </p>
                    <% } %>
                </div>
                <output id="image-output" class="image-output"></output>
                <div class="categoryDestiny">
                    <div class="input-container">
                        <label for="">Categoría</label>
                        <select name="category_id">
                            <% categories.forEach(category => { %>
                                <option value="<%= category.id %> "><%= category.category_name %></option>    
                            <% }) %>
                        </select>
                    </div>
                    <div class="input-container">
                        <label for="">Destino</label>
                        <input class="formElement normal-border" type="search" name="location" id="destino"> 
                        <% if (locals.errors && errors.ubication) { %>
                            <p class="text-danger">
                                <%= errors.ubication.msg %>
                            </p>
                        <% } %>
                        <p class="text-danger" id="errordestino"></p>
                    </div>
                </div>
                <div class="peopleDuration">
                    <div class="input-container">
                        <label for="">Personas</label>
                        <input class="formElement normal-border" type="number" name="people_quantity" id="personas"> 
                        <% if (locals.errors && errors.peopleQuantity) { %>
                            <p class="text-danger">
                                <%= errors.peopleQuantity.msg %>
                            </p>
                        <% } %>
                        <p class="text-danger" id="errorpersonas"></p>
                    </div>
                    <div class="duration">
                        <div class="input-container">
                            <label for="">Duración</label>
                            <input class="formElement normal-border" type="number" name="duration" id="duración"> 
                            <% if (locals.errors && errors.duration) { %>
                                <p class="text-danger">
                                    <%= errors.duration.msg %>
                                </p>
                            <% } %>
                        </div>
                        <div class="input-container">
                            <label class= "hidden" for="">Duración</label>
                                <select name="duration_type">
                                    <option value="hour">Horas</option>
                                    <option value="day">Día</option>
                                    <option value="month">Mes</option>
                                </select> 
                        </div>
                        <p class="text-danger all-width" id="errorduración"></p>
                    </div>
                </div>
                <div class="coinPrice">
                    <div class="input-container">
                        <label for="">Precio</label>
                            <select name="currency">
                                <option value="$">$</option>
                                <option value="€">€</option>
                                <option value="¥">¥</option>
                            </select> 
                    </div>
                    <div class="input-container">
                         <label class="hidden" for="">Precio</label>
                         <input class="formElement normal-border" type="number" name="price" id="precio"> 
                         <% if (locals.errors && errors.price) { %>
                            <p class="text-danger">
                                <%= errors.price.msg %>
                            </p>
                        <% } %>
                        <p class="text-danger" id="errorprecio"></p>
                    </div>
                </div>
                <div class="input-container" id="map-input-container">
                    <label for="map">Ubicacion</label>
                    <input class="formElement normal-border" type="text" name="map_direction" id="ubicación">
                    <p class="text-danger" id="errorubicación"></p>
                </div>
                <div class="buttomTrash">
                    <button class="edition-button" id="submit-button" type="submit">Crear</button>
                    <button type="reset" id="deleteButton"><i class="fa-solid fa-trash-can"></i></button>
                </div>
            </form>
        </main>
    </section>

    <!-- FOOTER -->
    <%- include('./partials/footer')%>

    <script src="/js/userDropdownMenu.js"></script>
    <!-- <script src="/js/experienceCreationValidator.js"></script> -->
    <script src="/js/manageImages.js"></script>
</body>