<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/editor.css" rel="stylesheet">
    <title>GoodTrail | Editar</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>
    <section class="form-section">
        <main>
            <h1 class="header-title">Tus experiencias</h1>
            <nav class="edition-nav">
                <ul>
                    <li><a href="../creation" class="option-unselected">Crear</a></li>
                    <li><a href="../editor" class="option-selected">Editar</a></li>
                </ul>
            </nav>    
            <form class="forms" action="/product/editor/<%=experienceEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="input-container">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" value="<%= experienceEdit.name %>">
                    <% if (locals.errors && errors.name) { %>
                        <p class="text-danger">
                            <%= errors.name.msg %> 
                        </p>
                    <% } %>
                </div>
                <div class="input-container">
                    <label for="">Descripción</label>
                    <textarea type="text" name="description" style="height: 150px" ><%= experienceEdit.description %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <p class="text-danger">
                            <%= errors.description.msg %> 
                        </p>
                    <% } %>
                </div>
                <div class="input-container">
                    <label for="">Imagenes</label>
                    <input class= "image" type="file" id="image" name="image" accept=".jpg" multiple> 
                    <label id="imageButton" for="image">
                        <i class="fa-solid fa-plus"></i>
                    </label>
                </div>
                <div class="categoryDestiny">
                    <div class="input-container">
                            <label for="">Categoría</label>
                            <select name="category">
                                <option value="Aventura">Aventura</option>
                                <option value="Deportes">Deportes</option>
                                <option value="Cultura">Cultura</option>
                            </select>
                    </div>
                    <div class="input-container">
                            <label for="">Destino</label>
                            <input type="search" name="ubication" value="<%= experienceEdit.ubication %>"> 
                            <% if (locals.errors && errors.ubication) { %>
                                <p class="text-danger">
                                    <%= errors.ubication.msg %> 
                                </p>
                            <% } %>
                    </div>
                </div>
                <div class="peopleDuration">
                    <div class="input-container">
                        <label for="">Personas</label>
                        <input type="number" name="peopleQuantity" value=<%= experienceEdit.peopleQuantity %>> 
                        <% if (locals.errors && errors.peopleQuantity) { %>
                            <p class="text-danger">
                                <%= errors.peopleQuantity.msg %> 
                            </p>
                        <% } %>
                    </div>
                    <div class="duration">
                        <div class="input-container">
                                <label for="">Duración</label>
                                <input type="number" name="duration" value=<%= experienceEdit.duration %>> 
                                <% if (locals.errors && errors.duration) { %>
                                    <p class="text-danger">
                                        <%= errors.duration.msg %> 
                                    </p>
                                <% } %>
                        </div>
                        <div class="input-container">
                            <label class= "hidden" for="">Duración</label>
                                <select name="durationType">
                                    <option value="dia">día</option>
                                    <option value="mes">mes</option>
                                    <option value="año">año</option>
                                </select> 
                        </div>
                    </div>
                </div>
                <div class="coinPrice">
                    <div class="input-container">
                        <label for="">Precio</label>
                            <select name="currency">
                                <option value="$">$</option>
                                <option value="€">€</option>
                                <option value="¥">¥</option>
                            </select> 
                    </div>
                    <div class="input-container">
                         <label class="hidden" for="">Precio</label>
                         <input type="number" name="price" value=<%= experienceEdit.price %>> 
                         <% if (locals.errors && errors.price) { %>
                            <p class="text-danger">
                                <%= errors.price.msg %> 
                            </p>
                        <% } %>
                    </div>
                </div>
                <div class="coinPrice">
                    <div class="input-container">
                        <label for="">Oferta</label>
                        <input type="number" min="0" max="100" step="1" />
                    </div>
                    <div class="input-container">
                        <label for="">Dias en Oferta</label>
                        <input type="number">
                    </div>
                </div>
                <div class="input-container" id="map-input-container">
                    <label for="map">Ubicacion</label>
                    <input type="text" name="map">
                </div>
                <div class="buttomTrash">
                    <button type="submit" class="edition-button">Editar</button>
                </div>
            </form>
            <form action="/product/delete/<%= experienceEdit.id %>?_method=DELETE" method="POST" id="deleteForm">
                <button type="submit" class="action-button delete" id="deleteButton"><i class="fa-solid fa-trash-can"></i></button>
            </form>
        </main>
    </section>

    <!-- FOOTER -->
    <%- include('./partials/footer')%>
</body>