<!-- HEAD -->
<%- include('./partials/head')%>

    <link href="/css/experienceCatalog.css" rel="stylesheet">
    <title>GoodTrail | Experiencias</title>
</head>
<body>

    <!-- HEADER -->
    <%- include('./partials/header')%>

    <main>

    <%- include('./partials/catalogFilterForm') %> 

    <section class="experience-section">

        <% if (experiences.length == 0) { %>
            <div class="alert-container">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>No se encontro ninguna experiencia</p>
            </div>
        <% } %>

        <% experiences.forEach(experience => { %>
            
            <%- include('./partials/experienceCatalogCard', {experience: experience}) %> 

        <% }) %>

        <div class="button-container">
            <button>Ver más</button>
        </div>
    </section>


    <% if (pages > 0) { %>
        <section class="page-buttons">
            <div class="buttons-container">
                    <button class="move page-button" disabled="disabled"><i class="fa-solid fa-angle-left"></i></button>
                    
                    <% for( let index = 0; index < pages; index++ ) { %>
                        <button class="number page-button"> <%= index + 1 %>  </button>
                    <% } %>
                    
                    <button class="move page-button"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </section>     
    <% } %>

    </main>
    
    <!-- FOOTER -->
    <%- include('./partials/footer')%>
    
    <script src="/js/userDropdownMenu.js"></script>
    <script type="text/javascript" src="/js/categoryForm.js"></script>
    
</body>
</html>