<!-- HEAD -->
<%- include('./partials/head')%>


    <link href="/css/formulary-sheets.css" rel="stylesheet">
    <title>GoodTrail | Register</title>
</head>
<body>

    <section class="form-section">
        <header>
            <a href="/"><h2>GoodTrail</h2></a>
            <h1 class="header-title">Registrarse en GoodTrail</h1>
            <nav class="register-nav">
                <ul>
                    <li><a href="/user/login" class="option-unselected">Iniciar sesión</a></li>
                    <li><a href="#" class="option-selected">Registrarse</a></li>
                </ul>
            </nav>
        </header>
    
        <main>
    
            <form class="forms" action="/user/registerFormulary" method="POST" enctype="multipart/form-data">
                <div class="input-container">
                    <label for="email">Email</label>
                    <input type="text" name="userEmail" id="email" class="formElement" value="<%= locals.old && old.userEmail ? old.userEmail : "" %>">
                    <% if (locals.errors && errors.userEmail) { %>
                        <div class="text-danger">
                            <%= errors.userEmail.msg %> 
                        </div>
                    <% } %>
                    <p id="erroremail" class="text-danger"></p>
                </div>
                <div class="input-container">
                    <label for="userName">Nombre</label>
                    <input type="text" name="userName" id="nombre" class="formElement" value="<%= locals.old && old.userName ? old.userName : "" %>">
                    <% if (locals.errors && errors.userName) { %>
                        <div class="text-danger">
                            <%= errors.userName.msg %> 
                        </div>
                    <% } %>
                    <p id="errornombre" class="text-danger"></p>
                </div>
                <div class="input-container">
                    <label for="">Contraseña</label>
                    <input type="password" name="userPassword" id="contraseña" class="formElement" value="<%= locals.old && old.userPassword ? old.userPassword : "" %>">
                    <% if (locals.errors && errors.userPassword) { %>
                        <div class="text-danger">
                            <%= errors.userPassword.msg %> 
                        </div>
                    <% } %>
                    <p id="errorcontraseña" class="text-danger"></p>
                </div>
                <div class="input-container">
                    <label for="">Confirmar contraseña</label>
                    <input type="password" name="passwordConfirmation" id="confirmación" class="formElement" value="<%= locals.old && old.passwordConfirmation ? old.passwordConfirmation : "" %>">
                    <% if (locals.errors && errors.passwordConfirmation ) { %>
                        <div class="text-danger">
                            <%= errors.passwordConfirmation.msg %> 
                        </div>
                    <% } %>
                    <p id="errorconfirmación" class="text-danger"></p>
                </div>
                <div class="input-container">
                    <label for="">Foto de perfil</label>
                    <input class= "image" type="file" accept=".jpg, .png, .jpeg, .gif" id="image" name="profileImage"> 
                    <label id="imageButton" for="image">
                        <i class="fa-solid fa-plus"></i>
                    </label>
                    <% if (locals.errors && errors.profileImage ) { %>
                        <div class="text-danger">
                            <%= errors.profileImage.msg %> 
                        </div>
                    <% } %>
                </div>
                <button class="register-button" id="register-submit-button" type="submit">Registrarse</button>
            </form>

        </main>
    </section>

    <!-- <script src="/js/userDropdownMenu.js"></script> -->
    <script type = "text/javascript" src="/js/validatorRegisterFormulary.js"></script>

</body>
</html>