<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>GoodTrail | Perfil</title> 
    <link rel="stylesheet" href="/css/userProfile.css">
</head>
<body>

    <%- include('./partials/header') %> 

    <main class="main-profile">


        <div class="profile-container">

            <%- include('./partials/profileMenu') %>
            
    
            <div class="profile">
                <section class="profile-section">
                    <form action="/user/update?_method=PUT" method="POST" class="profile-form">
                        <div class="input-container">
                            <label class="profile-label">Nombre</label>
                            <input type="text" name="userName" placeholder="Nombre" value="<%= locals.userLogged ? locals.userLogged.first_name + ' ' + locals.userLogged.last_name : null %>">
                        </div>
                        <div class="input-container">
                            <label class="profile-label">Email</label>
                            <input type="email" name="userEmail" placeholder="Email" value="<%= locals.userLogged ? locals.userLogged.email : null %> " readonly>
                        </div>
                        <div class="input-container">
                            <label class="profile-label">Bio</label>
                            <textarea name="userBio" cols="30" rows="10" placeholder="Bio"><%= locals.userLogged.bio ? locals.userLogged.bio : null  %></textarea>
                        </div>
                        <button type="submit" class="button edit-profile-button">Guardar</button>
                    </form>
                    <form action="/user/logout" class="log-out-form">
                        <button class="button logOutButton">Cerrar sesión</button>
                    </form>
                </section>
            </div>
        </div>

        <section class="experience-section">
            <% experiences.forEach(experience => { %>
                <div class="experience-card">
                    <img src="/img/cardImages/<%= experience.images[0].url %> " alt="">
                    <div class="experience-description">
                        <div class="experience-title"> 
                            <%= experience.name %>
                        </div> 
                        <div class="experience-edit">
                            <a href="/product/editor/<%= experience.id %> ">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    </div>
                </div>             
            <% }) %>
        </section>
    </main>

    <%- include('./partials/footer')  %> 
    
    <script src="/js/userDropdownMenu.js"></script>
</body>
</html>