<article class="compraDos">
    <div class="imagenDos">
        <img src="/img/cardImages/<%= experience.image[0].url %> " alt="">
        <h2 class="nombreProducto"> <%= experience.name %> </h2>
    </div> 
    <div class="infoCompraDos">
        <div class="precioMasCant">
            <div class="personasCantidad">
                <i class="fa-solid fa-user"></i>
                <p class="fraseEntera"><%= experience.people_quantity %></p>
                <!-- <p class="numeroSolo"> 2 </p> -->
            </div>
            <div class="precio">
                <p> <%= experience.currency %><%= new Intl.NumberFormat('de-DE').format(experience.price) %>  </p>
            </div>
        </div>
        <div class="cantidadMasTacho">
            <div class="cantidad">
                <i class="fa-solid fa-minus"></i>
                <p>1</p>
                <i class="fa-solid fa-plus" id="plusBuyCart"></i>
            </div>
            <i class="fa-solid fa-trash-can"></i>
        </div>
    </div>
</article>
<hr>