<section class="page-buttons">
    <ul class="buttons-container">
        <!-- FIRST PAGE -->
        <% if (currentPage == 1) { %>
            <li class="page-button disabled">
                <a href="#"><i class="fa-solid fa-angles-left"></i></a>
            </li>
        <% } else { %>
            <li class="page-button move">
                <a href="/experienceCatalog/1"><i class="fa-solid fa-angles-left"></i></a>
            </li>
        <% } %>     

        <!-- PAGES -->

        <% var i = (currentPage > 5 ? currentPage - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="number page-button">
                <a href="#">...</a>
            </li>
        <% } %> 
        <% for(; i <= (currentPage + 4) && i <= pages; i++ ) { %>
            <% if (i == currentPage) { %>
                <li class="number page-button">
                    <a href="<%= i %>"><%= i %></a>
                </li>
            <% } else { %>
                <li class="number page-button">
                    <a href="/experienceCatalog/<%= i %>"><%= i %></a>
                </li>
            <% } %>     
        <% } %>
        <% if (i == currentPage + 4 && i < pages ) { %>
            <li class="number page-button">
                <a href="#">...</a>
            </li>
        <% } %>

        <!-- LAST PAGE -->
        <% if (currentPage == pages) { %>
            <li class="page-button disabled">
                <a href="#"><i class="fa-solid fa-angles-right"></i></a>
            </li>
        <% } else { %>
            <li class="page-button move">
                <a href="/experienceCatalog/<%= pages %>"><i class="fa-solid fa-angles-right"></i></a>
            </li>
        <% } %> 

    </ul>
</section> 